.dashboard-card {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 20px;
  &__toggle {
    margin-bottom: 20px;
    width: fit-content;
    align-self: center;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(97, 97, 97);
    &:hover {
      background-color: rgb(88, 88, 88);
    }
    &-title {
      padding: 10px;
      background-color: gray;
    }
    &-item {
      align-items: center;
      justify-content: center;

      &__icon {
        color: rgba(159, 185, 255, 0.753);
        font-size: 22px;
      }
      &__first {
        flex-grow: 1;
        padding-left: 20px;
      }

      &__second {
        display: inline-flex;
        align-items: center;
        flex-grow: 5;
      }

      &__last {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 15px;
        padding-right: 20px;
        :last-child {
          color: rgba(159, 185, 255, 0.753);
        }
      }
    }
  }
}
